@model IEnumerable<PetShopMVC.Models.CategoryViewModel>

@foreach (var item in Model)
{
    <li>@Ajax.ActionLink(item.Name, "GetAnimalsInCategory", "Catalog", new { categoryId = item.CategoryId }, new AjaxOptions()
   {
       UpdateTargetId = "animalListContainer",
       InsertionMode = InsertionMode.Replace 
   })</li>
}

