@model IEnumerable<PetShopMVC.Models.AnimalViewModel>



@{
    ViewBag.Title = "Catalog";
}

<h2>Animals Catalog</h2>

<div class="row">
    <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="categoryMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" aria-labelledby="categoryMenu">
                @Html.Action("Categories", "Catalog")
            </ul>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12" id="animalListContainer">
      @Html.Partial("GetAnimalsInCategoryPartial", Model)
    </div>
</div>